.CatalogButton {
	outline: none;
	width: 100%;
	font-size: 24px;
	text-transform: uppercase;
	background-color: #eee;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	color: inherit;
	text-align: center;
	display: flex;
  justify-content: center;
  flex-direction: column;
}

.active {
	background: white;
}
