.BookingListItem {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}

.BookingListItem ul {
	list-style: none;
}

.BookingListItem section {
	display: flex;
}

.BookingListItem section ul h4{
	margin: 5px 0;
}


